body, .app {
  background: white;
  height: 100%;
}
.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 15;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background: #F53D54 url('./icons/add.svg') center/28px no-repeat;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}