.book {
  width: 140px;
}
.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}
.book:hover .book-top:before,
.book:hover .book-top:after {
  pointer-events: none;
}
.book:hover .book-top:before {
  content: 'i';
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-59%, -50%);
  background-color: rgba(255,255,255,.75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 4px solid rgba(255,255,255,.75);
  z-index: 5;
}
.book:hover .book-top:after {
  content: '';
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(0,0,0,.45);
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 15px;
}
.book-authors {
  color: #999;
}

/* book cover */
.book-cover-wrapper,
.book-cover {
  width: 128px;
  height: auto;
  position: relative;
}

.book-cover-wrapper {
  z-index: 2;
}

.book-cover-wrapper.no-cover:before {
  content: 'No Cover';
  color: #404040;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}

.book-cover {
  display: block;
  min-height: 200px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  pointer-events: none;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.shelf-label {
  width: 60px;
  position: absolute;
  top: -3px;
  left: 8px;
  z-index: 5;
}
.shelf-label span,
.shelf-label span:after {
  display: block;
  background: #404040;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shelf-label span {
  color: #fff;
  font-size: .65em;
  text-align: center;
  position: relative;
  padding: 5px 7px 8px;
}
.shelf-label span:after {
  content: '';
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  mask: url('./icons/ribbon.svg') no-repeat top/cover;
  transform: translateY(100%);
}

.book-shelf-changer-toggle,
.book-shelf-changer-toggle:after,
.book-shelf-changer-toggle.open:before,
.book-shelf-changer-toggle.open:after {
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.book-shelf-changer-toggle {
  right: 0;
  bottom: -10px;
  z-index: 7;
}

.book-shelf-changer-toggle:after {
  content: '';
  z-index: 5;
  background: #04BF9D url('./icons/vertical-dots.svg') center/17px no-repeat;
  cursor: pointer;
}

.book-shelf-changer-toggle.open:before {
  content: '';
  z-index: 7;
  background: #fff;
  mask: url('./icons/close.svg') no-repeat center/17px;
}

.book-shelf-changer-toggle.open:after {
  background-image: none;
  background-color: #F53D54;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 6;
  width: 128px;
  margin: 0;
  padding: 0;
  background: #F2E85C;
}

.book-shelf-changer .option {
  width: 100%;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: .8em;
  overflow: hidden;
}
.book-shelf-changer input {
  display: none;
}
.book-shelf-changer input:checked + label,
.book-shelf-changer label.selected {
  font-weight: bold;
  cursor: default;
  left: 0;
  color: #ccc;
}
.book-shelf-changer label {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 26px;
  padding: 3px 8px;
  background-color: #fff;
  position: relative;
}
.book-shelf-changer label:hover {
  left: 6px;
}
.book-shelf-changer .option:first-child label,
.book-shelf-changer .option:last-child label {
  height: 33px;
}
.book-shelf-changer .option:first-child label {
  padding-top: 12px;
}
.book-shelf-changer .option:last-child label {
  padding-bottom: 13px;
}